.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
}

.expense-tracker-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px auto;
    width: 90%;
    min-height: 400px;
    background-color: white;
}

.add-expense-button{
    margin-top: auto;
    border: 2px solid black;
}